.products {
  &__top {
    padding: 60px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::before {
      content: "";
      display: block;
      width: 225px;
      height: 156px;
      background-image: url(../../assets/img/products-decor.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      display: block;
      width: 225px;
      height: 156px;
      background-image: url(../../assets/img/products-decor-2.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__title {
    margin: 0;
    max-width: 785px;
    font-weight: 400;
    font-size: 65px;
    line-height: 73px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

  &__bottom {
    display: flex;
    align-items: center;
    position: relative;
    gap: 26px;
    padding: 22px;
  }

  &__decor {
    position: absolute;
    left: 50%;
    top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(100% - 40px);
    transform: translateX(-50%);
  }

  &__cover {
    padding: 20px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 22px;
  padding-top: 100px;
  min-height: 658px;
  background-image: url(../../assets/img/products-bg.svg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;

  &__subtitle {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000000;
  }

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000000;
  }
}
